[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "intensegRid"]
	path = intensegRid
	url = https://github.com/kkulma/intensegrid
